* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;

}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    background-image: url(/assets/image/header/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.header__nav {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 138px;
}

.header__logo  a {
    font-size: 3.6rem;
    font-weight: bold;
    color: white;
    padding: 40px 25px;
    border: 1px solid #0f7bff;
    background-color: #0f7bff;
    border-radius: 0  0  33px 33px;
}
.header__navigation {
    display: flex;
    align-items: center;
}
.header__navigation li > a {
    margin-left: 40px;
    color: #929292;
}
.header__navigation li > a:hover {
    color: #0f7bff;
    border-bottom: 1px solid #0f7bff;
    padding-bottom: 10px;
}
.header__navigation li > a:active {
    color: red;
    border-bottom: 1px solid red;
}

.header__btn {

    border: 1px solid #0063dd;
    background-color: #0063dd;
    padding: 16px 50px;
    margin-left: 52px !important;
    color: white !important;
    border-radius: 45px;
}
.header__btn:hover {
    background-color: #204e86; 
}
.header__btn:active {
    background-color: #172e4b; 
}
@media screen and (max-width: 1330px) {
    .header__nav {
        padding: 34px 50px;
    }
}